* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix {
    content: "";
    clear: both;
    display: table;
}
body {
    font-family: 'Lato', sans-serif;
}
.container_topbar {
    width: 100%;
    margin: 0 auto;
    height: 70px;
    border-bottom: 1px solid #cbd6e2;
    background-color: #f5f8fa;

}
.topbar {
    width: 90%;
    height: 70px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f5f8fa;
}
.content_topbar {
    width: 90%;
    height: 70px;
    margin: 0 auto;
    padding: 20px 0;
}
.content_topbar span {
    margin: 0 15px;
    color: #33475b;
    font-size: 15px;
}
.lang {
    color: #33475b;
    display: inline;
    padding-right: 10px;
    padding-top: 5px;
    float: left;
    cursor: pointer;
}
.lang i:nth-of-type(2) {
    border-right: 2px solid #cbd6e2;
    padding-right: 10px;
}
.lang span {
    font-size: 15px;
    margin: 0 5px;
}
.lang i:nth-of-type(2) {
    color: #7c98b6;
    font-size: 25px;
}
.container_navbar {
    width: 100%;
    margin: 0 auto;
}
.navbar {
    width: 90%;
    height: 90px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    border-bottom: 1px solid #cbd6e2;
    padding-top: 30px;
}
.content_navbar {
    width: 90%;
    margin: 0 auto;
}
.content_navbar img {
    float: left;
}
.content_navbar li {
    float: right;
    display: inline-block;
    padding-left: 40px;
    color: #33475b;
    font-weight: 600;
    cursor: pointer;
}
.content_navbar i {
    color: #7C98B6;
    padding-left: 5px;
    font-size: 25px;
}
button {
    width: 80px;
    height: 40px;
    border:1px solid #ff7a59;
    background-color: white;
    color: #ff7a59;
    border-radius: 5px;
    cursor: pointer;
}
#get {
    width: 130px;
    height: 40px;
    background-color: #ff7a59;
    border:1px solid #ff7a59;
    border-radius: 5px;
    color: white;
}
.access {
    float: right;
    padding-bottom: 10px;
    cursor: pointer;
}
.access i {
    color: #00A3BC;
    padding-right: 20px;
}
.container_promobar {
    width: 100%;
    margin: 0 auto;
    background-color: #425b76;
}
.promobar {
    width: 90%;
    height: 90px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #425b76;
    position: relative;
}
.content_promobar {
    width: 90%;
    height: 90px;
    margin: 0 auto;
    padding-top: 25px;
    color: white;
    padding-left: 15px;

}
#learn {
    width: 130px;
    height: 40px;
    background-color: white;
    border:1px solid white;
    border-radius: 5px;
    color: #425B76;
    font-weight: bold;
    position: absolute;
    right: 50px;
    bottom: 25px;
}
#learn:hover {
    background-color: #ECEFF2;
}
.content_promobar p {
    width:80%;
}
.container_banner {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    background-color: #FFF3EE;
    border-bottom: 2px solid #33475B;
}
.banner {
    width: 90%;
    height: 600px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #FFF3EE;
    border-bottom: 2px solid #33475B;
}
.content_banner {
    width: 90%;
    height: 600px;
    margin: 0 auto;
    padding-top: 25px;
    position: relative;
}
.text_banner {
    width: 40%;
    padding-top: 35px;
    font-size: 30px;
    color: #33475B;
}
.text_banner p {
    width: 100%;
    padding-top: 25px;
    font-size: 16px;
    line-height: 25px;
    padding-bottom: 25px;
}
.text_banner #get {
    width: 200px;
    height: 70px;
    font-size: 15px;
    font-weight: bold;
}
.text_banner p:nth-of-type(2) {
    width: 200px;
    font-size: 12px;
}
.text_banner img {
    width: 900px;
    position: absolute;
    bottom: 0px;
    right: -80px;
}
.container_row_main {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    background-color: white;
}
.row_main {
    width: 90%;
    height: 600px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    border-bottom: 2px solid #33475B;
}
.content_row_main {
    width: 90%;
    height: 600px;
    margin: 0 auto;
    padding-top: 100px;
    text-align: center;
}
.content_row_main img {
    width: 300px;
}
.content_row_main h2 {
    color: #33475B;
    font-size: 30px;
}
.content_row_main p {
    width: 80%;
    margin: 0 auto;
    color: #33475B;
    font-size: 18px;
    padding-top: 20px;
}
