* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix {
    content: "";
    clear: both;
    display: table;
}

body {
    font-family: 'Lato', sans-serif;
}

.topbar {
    width: 100%;
    height: 70px;
    background-color: #f5f8fa;
    border-bottom: 1px solid #cbd6e2;
}

.navbar {
    width: 100%;
    height: 90px;
    background-color: #ffffff;
    border-bottom: 1px solid #cbd6e2;
    padding-top: 30px;
    padding-left: 30px;
}

.content_navbar {
    width: 80%;
    margin: 0 auto;
}

.promobar {
    width: 100%;
    height: 90px;
    background-color: #425b76;
}

.content_navbar img {
    float: left;
}

.content_navbar li {
    float: right;
    display: inline-block;
    padding-left: 40px;
    color: #33475b;
    font-weight: 600; 
}
