* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    font-family: 'Lato', sans-serif;
}

.fullwidth {
    background-color: green;
}

.container_topbar {
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #cbd6e2;
}

.topbar {
    width: 100%;
    height: 70px;
    max-width: 1200px;
    background-color: #f5f8fa;
}

.container_navbar {
    width: 100%;
    margin: 0 auto;
}

.navbar {
    width: 100%;
    height: 90px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    border-bottom: 1px solid #cbd6e2;
    padding-top: 30px;
    padding-left: 30px;
}

.content_navbar {
    width: 90%;
    margin: 0 auto;
}

.container_navbar {
    width: 100%;
    margin: 0 auto;
}

.promobar {
    width: 100%;
    height: 90px;
    background-color: #425b76;
}

.content_navbar img {
    float: left;
}

.content_navbar li {
    float: right;
    display: inline-block;
    padding-left: 40px;
    color: #33475b;
    font-weight: 600;
}
